[Unit]
Description=Open FCoE Initiator
Documentation=man:fcoemon(8)
Before=remote-fs-pre.target
Wants=remote-fs-pre.target lldapd.service

[Service]
Type=forking
EnvironmentFile=/etc/fcoe/config
ExecStartPre=/sbin/modprobe -qa libfc fcoe $SUPPORTED_DRIVERS
ExecStart=/usr/sbin/fcoemon --syslog
