[Unit]
Description=Open FCoE initiator control socket

[Socket]
ListenDatagram=@/com/intel/fcoemon
PassCredentials=true
Service=fcoe.service

[Install]
WantedBy=sockets.target
