[Unit]
Description=Open-FCoE daemon control socket

[Socket]
Service=fcoe.service
ListenDatagram=@fcm_clif
PassCredentials=true

[Install]
WantedBy=sockets.target
