[Unit]
Description=Open-FCoE initiator daemon
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/fcoe/config
ExecStartPre=/sbin/modprobe -qa $SUPPORTED_DRIVERS
ExecStart=/usr/sbin/fcoemon --foreground --debug=$DEBUG --syslog=$SYSLOG

[Install]
WantedBy=multi-user.target
Also=lldpad.socket
Also=fcoemon.socket
